{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "User name and lastname" "Gastón Ezequiel Durand Vadas" -}}

{{- $workspaceOptions := list "work" "personal" -}}
{{- $workspace := promptChoice "The computer workspace" $workspaceOptions -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    workspace = {{ $workspace | quote }}

{{ if eq .chezmoi.os "darwin" -}}
[scriptEnv]
    HOMEBREW_BIN="/opt/homebrew/bin"
{{- end }}
