[user]
    email = {{ .email | quote }}
    name = {{ .name | quote }}
    signingkey = {{ .ssh_key_pub | quote }}

[pull]
    rebase = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[fetch]
  prune = true
  pruneTags = true
