{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -o errexit
set -o pipefail

printf "Installing VSCode extensions...\n"
{{ range .extensions -}}
${HOMEBREW_BIN}/code --install-extension {{ . | quote }} --force
{{ end -}}

{{- end }}
