{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -o errexit
set -o pipefail

printf "Checking for Xcode Command Line Tools...\n"
if ! xcode-select -p >/dev/null; then
  xcode-select --install
  wait
fi

{{ if eq .chezmoi.arch "arm64" -}}
printf "Checking for Rosetta...\n"
if ! /usr/bin/pgrep oahd >/dev/null 2>&1; then
  /usr/sbin/softwareupdate --install-rosetta --agree-to-license
  wait
fi
{{ end -}}

printf "Checking for Homebrew...\n"
if ! brew --version >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ end -}}
