{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -o errexit
set -o pipefail

{{ range .languages -}}
printf "Installing {{ .name }}...\n"
${HOMEBREW_BIN}/asdf plugin add {{ .name | quote }} {{ .url | quote }}
${HOMEBREW_BIN}/asdf install {{ .name | quote }} {{ .version | quote }}
${HOMEBREW_BIN}/asdf global {{ .name | quote }} {{ .version | quote }}
{{ end -}}

{{- end }}
